[mysqld]
user=root

# 0.0.0.0 vuol dire che tutti gli ip saranno accettati
bind-address=0.0.0.0

port=3306

# 0 perche' dobbiamo accedere da un altro container, 1 se solo localmente
skip-networking=0

# aggiungo directories
datadir=/var/lib/mysql
log-bin=/var/lib/mysql-bin

